<head>
    <script type="text/javascript" src="./assets/js/plugins.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
</head>
<!--
<div class="table-responsive">

        <table>
                <thead>
                <tr>
                    <th>Post ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let post of posts">
                        <td>{{post._id}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.description}}</td>
                        <td>{{post.date}}</td>
                        <td>
                            <input type="button" value="Modify" (click) = "editPost(post)">
                            <input type="button" value="Delete" (click) = "deletePost(post)">
                        </td>
                    </tr>
               </tbody>
        </table>

    </div>
-->
<section class="s-pageheader s-pageheader--home" style="min-height: 250px !important">

    <header class="header">
        <div class="header__content row">

            <div class="header__logo">
                <a class="logo" href="index.html">
                    <img src="./assets/images/logo.svg" alt="Homepage">
                </a>
            </div> <!-- end header__logo -->

            <ul class="header__social">
                <li>
                    <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </li>
            </ul> <!-- end header__social -->

            <a class="header__search-trigger" href="#0"></a>

            <div class="header__search">

                <form role="search" method="get" class="header__search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
    
                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

            </div>  <!-- end header__search -->


            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Site Navigation</h2>

              
                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end header__nav-wrap -->

        </div> <!-- header-content -->
    </header> <!-- header -->
</section>

<section class="s-content">
    <br>
    <button (click)="logout()" type="button" class="btn btn-link" style="float:right;">Logout</button>
    <div  *ngIf = "_allowAccess" class="row masonry-wrap">
        <div class="masonry">
            <pre class="prettyprint prettyprinted" style="">
                <input class="full-width" type="text" placeholder="Search Text Goes Here..." [(ngModel)] = "searchText">
            </pre>   
            
            <div class="grid-sizer"></div>

            <article  *ngFor="let post of posts | filter : searchText" class="masonry__brick entry format-standard" style="opacity: 1 !important;" data-aos="fade-up">
                    
                <div class="entry__thumb" (click)="editPost(post)">
                    <a class="entry__thumb-link">
                        <img class = "cardImage" [src]="post.leadImage?post.leadImage:''" alt="">
                    </a>
                </div>

                <div class="entry__text" (click)="editPost(post)">
                    <div class="entry__header">
                        
                        <div class="entry__date">
                            <a>December 15, 2017</a>
                        </div>
                        <h1 class="entry__title"><a (click)="editPost(post)">{{post.title}}</a></h1>
                        
                    </div>
                    <div class="entry__excerpt">
                        <p>
                            {{post.description}}
                        </p>
                    </div>
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                            <a href="category.html">Design</a> 
                            <a href="category.html">Photography</a>
                        </span>
                    </div>
                </div>
                <input type="button" value="Delete" (click) = "deletePost(post)">
            </article> <!-- end article -->

                   </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->

    <!-- <div class="row">
        <div class="col-full">
            <nav class="pgn">
                <ul>
                    <li><a class="pgn__prev" href="#0">Prev</a></li>
                    <li><a class="pgn__num" href="#0">1</a></li>
                    <li><span class="pgn__num current">2</span></li>
                    <li><a class="pgn__num" href="#0">3</a></li>
                    <li><a class="pgn__num" href="#0">4</a></li>
                    <li><a class="pgn__num" href="#0">5</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">8</a></li>
                    <li><a class="pgn__next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div> -->

</section> <!-- s-content -->


    <div class="s-footer__bottom">
        <div class="row">
            <div class="col-full">
                <div class="s-footer__copyright">
                    <span>© Copyright  <a href="http://www.pricelesspeanuts.com">www.pricelesspeanuts.com</a></span> 
                    <span>Site Template by <a href="https://colorlib.com/">Colorlib</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"></a>
                </div>
            </div>
        </div>
    </div> <!-- end s-footer__bottom -->

    
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
